#root {
  margin: 0 auto;

  text-align: center;
}

/* Planets */
.planetsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}

.planetsContainer div {
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items: center;
}

/* Multimedia */
.imageContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}

/* Picture of the day */
.dateInputDiv {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.dayPictureContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.MorePicsOfDay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

/* Navbar */

/* Pictures of the day  */

@media screen and (max-width: 449px) {
  .containerImages {
    column-count: 1;
  }
}
@media screen and (min-width: 450px) {
  .containerImages {
    column-count: 2;
  }
}

@media screen and (min-width: 1000px) {
  .containerImages {
    column-count: 3;
  }
}
/* Media */
@media screen and (max-width: 449px) {
  .containerMedia {
    column-count: 2;
  }
}

@media screen and (min-width: 450px) {
  .containerMedia {
    column-count: 3;
  }
}

@media screen and (min-width: 1000px) {
  .containerMedia {
    column-count: 4;
  }
}
@media screen and (min-width: 1200px) {
  .containerMedia {
    column-count: 5;
  }
}

img.img-fluid {
  border-radius: 0px;
}



button.savedPicture {
  background-color: black;
}
button.unsavedPicture {
  background-color: white;
}