
/* Media */
.imageContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}


@media screen and (max-width: 449px) {
  .containerMedia {
    column-count: 2;
  }
}

@media screen and (min-width: 450px) {
  .containerMedia {
    column-count: 3;
  }
}

@media screen and (min-width: 1000px) {
  .containerMedia {
    column-count: 4;
  }
}
@media screen and (min-width: 1200px) {
  .containerMedia {
    column-count: 5;
  }
}

img.img-fluid {
  border-radius: 0px;
}


button.savedPicture {
  /* background: linear-gradient(10deg, lightgreen, darkgreen); */
  background-color: transparent;
  margin-left: 1%;
  margin-top: 1%;
  color: white;
 border-radius:  50%;
 position: absolute;
 
}
button.unsavedPicture {
  background-color: transparent;
  margin-left: 1%;
  margin-top: 1%;
}

/* NAVBAR */
.dropend > a:nth-child(1) {
  margin-left: 23px;
  color: white;
  

}
.dropend:hover {
  background-color: rgb(96, 96, 96);
}
